- provide(:title, 'Участники')
%h1 Все участники
= will_paginate
%ul.users= render @users

= form_tag(users_path, method: "get", id: "search-form") do
  = text_field_tag :search, params[:search], placeholder: "Поиск юзеров"
  = submit_tag "Поиск"

- unless @users.present?
  %p
    Нет юзеров, имя которых содержит #{params[:search]}.

= form_tag(users_path, method: "get", id: "sort-form") do
  %select{:name => "sort"}
    %option
    %option activity
    %option microposts_count
    %option provider
    %option date
    = submit_tag "Сортировать"

