%details
  %summary Комментарии  (#{micropost.comments.where(parent_id: nil).count})
  = render collection: micropost.comments.where(parent_id: nil), partial: 'shared/comment'

%details
  %summary Добавить комментарий
  = form_for([@user, micropost.comments.build]) do |f|
    = hidden_field_tag 'micropost_id', micropost.id
    .field
      = f.text_area :content, placeholder: "Добавить комментарий к фото..."
    = f.submit "Добавить", class: "button1"
    