<% if current_user %>
  <li id="micropost-<%= micropost.id %>">
    <span class="user"><%= image_tag(micropost.user.avatar_url) if micropost.user.avatar? %><%= link_to micropost.user.name, micropost.user %></span>
    <span class="content">
      <%= image_tag micropost.picture.url if micropost.picture? %>
      <h4><%= micropost.content %></h4>
      <%= render 'likes/like_button', micropost: micropost %>
        <div id="like">
        </div>
          <br>  
    </span>
    <% if current_user==micropost.user %>
    <%= link_to "Удалить", micropost, method: :delete,
                                       data: { confirm: "Вы уверены?" }, class: "button22" %>
    <% end %>
  <br>
  <details>
    <summary>Комментарии  (<%= micropost.comments_count%>)</summary>
      <% micropost.comments.each do |comment| %>
        <span class="user"><%= link_to comment.user.name, comment.user %></span>
        <span class="content"></span>
        <h4><%= comment.content %></h4>
        <h4><%= comment.answers.each do |answer| %></h4>
              <%= answer.content %>
              <% end %>
           <details>
            <summary>Добавить ответ</summary> 
              <%= form_for([comment.answers.create]) do |f| %>
                <%= hidden_field_tag 'micropost_id', micropost.id %>
                <%= hidden_field_tag 'user_id', current_user.id %>
                <%= hidden_field_tag 'parent_id', comment.id %>
                  <div class="field">
                    <%= f.text_area :content, placeholder: "Добавить комментарий к фото..." %>
                  </div>
                    <%= f.submit "Добавить", class: "button1" %>
              <% end %>
          </details>    
      <% end %>
    <details>
      <summary>Добавить комментарий</summary>
      <%= form_for([@user, micropost.comments.build]) do |f| %>
        <%= hidden_field_tag 'micropost_id', micropost.id %>
        <%= hidden_field_tag 'user_id', current_user.id %>
          <div class="field">
          <%= f.text_area :content, placeholder: "Добавить комментарий к фото..." %>
          </div>
        <%= f.submit "Добавить", class: "button1" %>
      <% end %>
    </details>
  </details>  
  </li>
<% end %>